// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.center{
  text-align: center;
}

.container {
  margin-top: 50px;
}

#menu {
  flex: 1;
  flex-wrap: wrap;
  margin-top: 50px;
}

.menu-item {
  width: 100%;
  margin-top: 50px;
  * {
    display: inline;
  }
  h5 {
    margin-left: 15px;
  }
}

img { 
  border: 1px solid black;
}
h5 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

#game {
  width: 1400px;
}

#game-container {
  width: 1400px;
  margin-left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: translateX(-50%);
}

.preview {
  width: 300px;
}

.box{
  border: solid 3px red;
  position: absolute;
}

.characters {
  display: flex;
  justify-content: center;
  .character {
    height: 120px;
    border: none;
  }
}

#mini-menu {
  width: 150px;
  box-shadow: 0 4px 5px 3px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 10;
  display: none;
  background: white;
  .options {
    list-style: none;
    padding: 10px 10px;
    margin: 0;
    .option{
      font-weight: 500;
      font-size: 14px;
      padding: 10px, 40px, 10px, 20px;
      cursor: pointer;
      &:hover {
        background: rgba(0,0,0,0.2);
      }
    }
  }
}