// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center{
  text-align: center;
}

#menu {
  flex: 1;
  flex-wrap: wrap;
  margin-top: 50px;
}

.menu-item {
  width: 100%;
  margin-top: 50px;
  * {
    display: inline;
  }
  img { 
    border: 1px solid black;
  }
  h5 {
    margin-left: 15px;
    font-size: 1.8rem;
  }
}

.preview {
  width: 300px;
}