<% provide(:title, "Home") %>
<% provide(:nav_heading, "Menu") %>
<div class="container">
  <div id="menu">
    <h1 class="display-3">Select an Image to play!</h1>
    <%= render @puzzles %>
  </div>
</div>