<% provide(:title, @puzzle.title) %>
<% provide(:nav_heading, @puzzle.title + " Puzzle") %>
<div class="container">
  <h5 class="display-4">Try to find three characters!</h5>
  <%= image_tag(@puzzle.image, id: "game") %>
</div>